<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-warning text-white">
			<div class="card-header">Uy, algo extraño ha sucedido</div>
			<div class="card-body">
				<h5 class="card-title">
					Lo sentimos, <span th:text="${#authentication.name}"></span>,
					hubo un error mientras procesamos tu petición, revisa que pudo causar esta molestia y vuelve a intentarlo :)
				</h5>
				<a href="javascript: history.go(-1)" title="Volver a página anterior" class="btn btn-primary btn-xs" id="volver">
					<img alt="" src="/icons/arrow-left.svg" width="20" height="20"></a>
				<a sec:authorize="hasRole('ROLE_USER')" title="Volver al inicio" th:href="@{/}"
						class="btn btn-success btn-xs"><img alt="" src="/icons/house.svg" width="20" height="20"></a>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>